@using TheBlockProject.Models
@model TheBlockProject.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    bool requestExists = Model.Requests.Any();
    bool todo = false;
    byte userType = Model.User.UserType.Id;
}

<h2>Dashboard</h2>


<h3>To-do List</h3>
<ul>
    @if (!Model.User.SurveyComplete)
    {
        todo = true;
        <li>@Html.ActionLink("Complete your survey", "Index", "Survey")</li>
    }

</ul>
@if (!todo)
{
    <div class="container">
        <p>There is nothing to-do for now!</p>
    </div>
}

<h3>Track Requests</h3>
@if (requestExists)
{
    <div class="container">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Status</th>
                @if (User.IsInRole(UserType.HOST_ROLE))
                {
                    <th>Respond</th>
                }
            </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.Requests)
                {
                    <tr>
                        <td>@request.CreatedDate.ToShortDateString()</td>
                        <td>@request.Sender.LastName, @request.Sender.FirstName</td>
                        <td>@request.Receiver.LastName, @request.Receiver.FirstName</td>
                        <td>@request.Status</td>
                        <!-- Request view and response not yet implemented-->
                        @if (User.IsInRole(UserType.HOST_ROLE))
                        {
                            <td><button class="btn btn-primary" data-toggle="modal" data-target="#@request.Id-modal">Respond</button></td>
                        }
                    </tr>
                    if(User.IsInRole(UserType.HOST_ROLE))
                    {
                        <div id="@request.Id-modal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Request from @request.Sender.FirstName to @request.Receiver.FirstName</h4>
                                    </div>
                                    <div class="modal-body">

                                        <h5>Request Information</h5>
                                        <p>Requested By: @request.Sender.FirstName @request.Sender.LastName</p>
                                        <p>Requested On: @request.CreatedDate.ToShortDateString()</p>
                                        <br />
                                        <h5>Resident Biography</h5>
                                        <p>@request.Sender.Biography</p>
                                    </div>
                                    <div class="modal-footer">
                                        @if (User.IsInRole(UserType.HOST_ROLE))
                                        {
                                            @Html.ActionLink("Accept", "UpdateRequest", "Home", new { requestId = request.Id, newStatus = RequestStatus.ACCEPTED }, new { @class="btn btn-primary"})
                                            
                                            @Html.ActionLink("Decline", "UpdateRequest", "Home", new { requestId = request.Id, newStatus = RequestStatus.DECLINED }, new { @class="btn btn-danger"})
                                        }
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </tbody>

        </table>

    </div>
    
}


